body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h2 {
    text-align: center;
    text-decoration: underline double pink;
    margin-bottom: 100px;
}
.container {
    text-align: center;
    
}

.container2{
    display: flex;
    justify-content: space-between;
    text-align: center;
    border-color:1px solid rgb(151, 8, 55);
    padding: 12px;
    box-sizing: border-box;
}

.content-frame {
    border: 2px solid rgb(163, 22, 45); /* Ajout d'un cadre autour des nav et de la section */
    padding: 10px;
    box-sizing: border-box;
    margin: 23px;
}
#list{
    list-style: square;
}
.tablee{
    margin-top: 100px;
}
.links a {
    font-size: 32px;
    margin: 0 20px;
    text-decoration: underline;
    color: blue;
}

.btn-primary {
    display: block;
    width: 100%;
    margin-top: 50px;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    text-align: center;
    cursor: pointer;
    position: fixed;
    bottom: 20px;
}


.sidebar {
    width: 5%;
    height: 300px;
    border: 1px solid cyan;
    padding: 10px;
    box-sizing: border-box;
    margin: 12px;
}
header {
    text-align: center;
    padding: 10px;
    border: 1px solid rgb(7, 7, 109);
}

.main-section {
    flex-grow: 1;
    border: 1px solid pink;
    text-align: center;
    padding: 20px;
    font-style: italic;
    box-sizing: border-box;
    margin: 10px;
}

footer {
    text-align: center;
    padding: 10px;
    border: 1px solid green;
}

.wapper{
    width: 90%;
    margin: 0 auto;
    border: 1px solid maroon;
    padding: 5px;
}
.back-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
}
.back-button:hover {
    background-color: #218838;
}